html {
  background-image: url('https://source.unsplash.com/random');
  background-size: cover;
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #FDF7EC; 
  text-shadow: 3px 3px 10px #343531;
}
.container {
  margin: 0;
  padding: 0;
}
.main {
  margin-top: 30px;
}
h1 {
  color: #8DABB0;
  font-size: 4em;
  font-weight: bold;
}
#location {
  font-size: 2em;
}
#temperature {
  font-size: 4em;
}
#unit {
  color: #B1E9E8;
}
#unit:hover {
  cursor: pointer;
}
#desc {
  text-transform: capitalize;
  font-size: 1.5em;
}