body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  background: #556372;
  color: #FDF7EC; 
}
.main {
  margin-top: 30px;
}
h1 {
  color: #8DABB0;
  font-weight: bold;
}
#location {
  font-size: 2em;
}
#temperature {
  font-size: 4em;
}
#temperature:hover {
  cursor: pointer;
}
#unit {
  color: #B1E9E8;
}
#desc {
  text-transform: capitalize;
  font-size: 1.5em;
}