html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Impact", Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #FDF7EC;
  text-shadow: 3px 3px 10px #343531;
  height: 100vh;
  width: 100vw;
}
.container {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #D4AF37;
}
.main {
  position: absolute;
  top: 25%;
  width: 100%;
}
h1 {
  color: #FFF;
  font-size: 4em;
  font-weight: bold;
}
.clock-container{
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -0%)
}

.container:hover {
  background-color: #D4AF37;
  background-size: cover;
  background-image:url("../img/animated_fireworks.jpg");
  -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 5s; /* Firefox < 16 */
  -ms-animation: fadein 5s; /* Internet Explorer */
  -o-animation: fadein 5s; /* Opera < 12.1 */
  animation: fadein 5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
